@import "tailwindcss";
:root {
    --primary: #4a90e2;
    --secondary: #d7dce1;
}

@theme {
    --color-primary: #4a90e2;
    --color-secondary: #d7dce1;
}

/* animations */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-active {
    animation: fadeIn 0.5s ease-in-out;
}