!.vscode/extensions.json
.DS_Store
.env
.idea
.vs
.vscode
.vscode/*
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*.user
bin
Database/Backup
dist
dist-ssr
lerna-debug.log*
logs
MoneyTracker.MS.*.pfx
MoneyTracker.MS/MoneyTracker.Test/Sonarqube/sonarqube_bundled-plugins
MoneyTracker.MS/MoneyTracker.Test/Sonarqube/sonarqube_conf
MoneyTracker.MS/MoneyTracker.Test/Sonarqube/sonarqube_data
MoneyTracker.MS/MoneyTracker.Test/Sonarqube/sonarqube_extensions
node_modules
npm-debug.log*
obj
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
