#transaction-table {
    table {
        width: 100%;
        border-collapse: collapse;
        background-color: rgba(0, 0, 0, 0.03);
        border-radius: 0.5rem;
        overflow: hidden;
    }

    thead {
        position: sticky;
        top: 0;
    }

    tbody {
        display: block;
        max-height: 11rem;
        overflow-y: auto;
    }

    tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    th, td {
        padding: 0.5rem;
        text-align: left;
    }

    th {
        font-weight: bold;
    }
}